/*
 * Author: Carlos Alvarez
 * URL: http://Alvarez.is
 *
 * Project Name: NYC Design
 * Version: 1.0
 * Date: 04-20-2014
 * URL:
 */


/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



::-moz-selection {
    background: #008ec8;
    color: #ffffff;
    text-shadow: none;
}

::selection {
    background: #008ec8;
    color: #ffffff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mt-half {
	margin-top: 40px;
}

.mb {
	margin-bottom: 80px;
}

.mb-half {
	margin-bottom: 40px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 700;
}

.navbar-default .navbar-brand {
	color: #ffffff;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: transparent;
	border-bottom: 2px solid #ffffff
}

.navbar-default .navbar-nav > li > a {
	color: #ffffff;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */
.firstnav{
	background: rgba(0,0,0,0.5);
	z-index: 5;
}
.secondnav{
	background: rgba(0,0,0,0.5);
	z-index:2;
}

@media (max-width: 767px) {
.navbar-collapse{
	background: rgba(0,0,0,0.5);
}
}

#headerwrap, #stationwrap, #aboutwrap, #workwrap {

	position: relative;
	z-index: 4;
}

#headerwrap {
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	min-height: 650px;
	width: 100%;
	background-color: #008ec8;
}

#headerwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
	text-shadow:
    -1px -1px 4px #005070,
     1px -1px 4px #005070,
    -1px  1px 4px #005070,
     1px  1px 4px #005070;
}



#headerwrap h4 {
	font-weight: 400;
	color: #ffffff;
	text-shadow:
    -1px -1px 4px #005070,
     1px -1px 4px #005070,
    -1px  1px 4px #005070,
     1px  1px 4px #005070;
}

#headerwrap img {
	height: 300px;
	margin: 0 auto;
	border: #005070 10px solid;
}

#social {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a;
}

#social i:hover {
	color: #1abc9c;
}

#twitter i:hover {
	color: #1da1f2;
}

#instagram i:hover {
	color: #8a3ab9;
}

#mixcloud i:hover {
	color: #52aad8;
}

#linkedin i:hover {
	color: #0077b5;
}

#footerwrap {
	padding-top: 70px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#workwrap.asian-network {
	background: url(../img/asian-network-header.jpg) no-repeat center top;
}

#workwrap.hereford-worcester {
	background: url(../img/hereford-worcester-header.jpg) no-repeat center top;
}

#workwrap.radio-2 {
	background: url(../img/radio-2-header.jpg) no-repeat center top;
}

#workwrap.bay-fm {
	background: url(../img/bay-fm-header.jpg) no-repeat center top;
}

#workwrap.radio-warwick {
	background: url(../img/radio-warwick-header.jpg) no-repeat center top;
}

#workwrap.bhbn {
	background: url(../img/bhbn-header.jpg) no-repeat center top;
}

#workwrap.demo {
	background: url(../img/demo-header.jpg) no-repeat center top;
}

#workwrap.bhbn-sport {
	background: url(../img/bhbn-sport-header.jpg) no-repeat center top;
}

#workwrap.graphic-design {
	background: url(../img/graphic-design-header.jpg) no-repeat center top;
}

#workwrap.living-up-the-weekend {
	background: url(../img/living-up-the-weekend-header.jpg) no-repeat center top;
}

#workwrap {
/*	background: url(../img/work.jpg) no-repeat center top;*/
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
	text-shadow:
    -1px -1px 4px #008ec8,
     1px -1px 4px #008ec8,
    -1px  1px 4px #008ec8,
     1px  1px 4px #008ec8;
}

#workwrap h4 {
	font-weight: 400;
	color: #ffffff;
	text-shadow:
    -1px -1px 4px #008ec8,
     1px -1px 4px #008ec8,
    -1px  1px 4px #008ec8,
     1px  1px 4px #008ec8;
}

#stationwrap {
	background: url(../img/station-sound-header.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#stationwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 80px;
	font-weight: bold;
	text-shadow:
    -1px -1px 4px #008ec8,
     1px -1px 4px #008ec8,
    -1px  1px 4px #008ec8,
     1px  1px 4px #008ec8;
}

#stationwrap h4 {
	font-weight: 400;
	color: #ffffff;
	text-shadow:
    -1px -1px 4px #008ec8,
     1px -1px 4px #008ec8,
    -1px  1px 4px #008ec8,
     1px  1px 4px #008ec8;
}

#aboutwrap {
	margin-top: -70px;
	padding-top: 125px;
	text-align:center;
	min-height: 250px;
	width: 100%;
	background-color: #008ec8;
}

#aboutwrap h1 {
	color:#ffffff;
	padding-top: 10px;
	padding-bottom: 20px;
	letter-spacing: 4px;
	font-size: 65px;
	font-weight: bold;
	text-shadow:
    -1px -1px 4px #005070,
     1px -1px 4px #005070,
    -1px  1px 4px #005070,
     1px  1px 4px #005070;
}

@media (max-width: 767px) {
	#headerwrap h1, #stationwrap h1, #aboutwrap h1, #workwrap h1 {
		font-size: 40px;
	}
}


/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}
