<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/style.min.css" rel="stylesheet">
    <!-- FontAwesome 4.7.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {{ $title := site.Title }}
    {{ if not .IsHome }}
      {{ $title = printf "%s | %s" .Title site.Title }}
    {{ end }}
    <title>
      {{ $title }}
    </title>
  </head>
  <body>
    <header>
      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-fixed-top firstnav" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Phillip Stoneman</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                          <li class="nav-item  active">
                <a class="nav-link" href="/">Home</a>
              </li>
                              <li class="nav-item ">
                <a class="nav-link" href="/about">About</a>
              </li>
                              <li class="nav-item ">
                <a class="nav-link" href="/#portfolio">Portfolio</a>
              </li>
                            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
      <div class="navbar navbar-default navbar-fixed-top secondnav" role="navigation">
      </div>
    </header>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
    <footer>
      <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-xs-3" id="twitter">
          <a href="https://twitter.com/PhillipStoneman"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="col-xs-3" id="linkedin">
          <a href="https://www.linkedin.com/in/phillip-stoneman-03421061/"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-xs-3" id="instagram">
          <a href="https://www.instagram.com/PhillipStoneman/"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-xs-3" id="mixcloud">
          <a href="https://www.mixcloud.com/PhillipStoneman/"><i class="fa fa-mixcloud"></i></a>
        </div>
      
      </div><!--/row -->
    </div><!--/container -->
  </div><!--/social -->

  <div id="footerwrap">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-4">
          <p><b>FREELANCE PRODUCER &amp; AWARD WINNING STATION SOUND CREATOR</b></p>
        </div>
      
        <div class="col-lg-4">
          <p>West Midlands.</p>
        </div>
        <div class="col-lg-4">
          <p>hello@phillipstoneman.co.uk</p>
        </div>
      
      </div>
    
    </div>
  </div><!--/footerwrap -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-8630010-5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-8630010-5');
  </script>
    </footer>
  </body>
</html>